:root {
  --fontcolor: rgba(147, 161, 161, 255);
  --lightfont: rgba(147, 161, 161, 255);
  --backgroundcolor: rgba(0, 43, 54, 255);
  --lightbackground: rgba(0, 64, 82, 255);
  --hovercolor: rgba(203, 75, 21);
  --fontwhite: white;
  --fontgray: rgba(88, 110, 117, 255);
}
body {
  background: var(--backgroundcolor);
  color: var(--fontcolor);
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  margin-left: 45px;
  margin-right: 45px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.about-content-image-wrapper {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.about-content-image-wrapper img {
  width: 150px;
  background-image: linear-gradient(var(--lightbackground), var(--lightfont));
  border-radius: 5px;
}
