/*
This came from branch Sunday
*/

body {
  background: #00171f;
  color: white;
  margin: 0;
  font-family: "Rubik";
}

.footer {
  background: black;
  color: white;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin: auto;
}
.footer-icon img {
  width: 1rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-social-links {
  display: flex;
  flex-direction: row;
}

.probio {
  margin-top: 0px;
  width: 60%;
  font-weight: 100;
}
.profile {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
/*
.profilepic {
  width: 150px; 
  border-radius: 50%;
  border: 4px solid white; 
  overflow: hidden; 
}

.profilepic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 15px;
}
*/
.rightside {
  margin-right: 10px;
}
#headername {
  font-size: 20px; /* Adjust the font size to your preference */
  font-weight: bold;
  margin-left: 10px; /* Add some spacing between the profile picture and name */
}

#ulnavs {
  position: fixed;
  top: 0rem;
  right: 0.7rem;
  list-style: none;
  display: flex;
}
#ulnavs li {
  text-transform: uppercase; /* Convert text to uppercase */
  margin-left: 20px;
  cursor: pointer; /* Change the cursor to indicate it's clickable */
}
#ulnavs li:hover {
  color: #ff6600; /* Change this to your desired hover color */
}

.bottomleft {
  position: fixed;
  bottom: 0;
  left: 1rem;
}

.bottomleft::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: white;
}

.introhi {
  font-size: 0.8rem;
  font-family: "IBM Plex Mono";
  font-weight: lighter;
  margin-bottom: 0px;
}

.home-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}

.mybigname {
  font-size: 4rem;
  margin-top: 8px;
  margin-bottom: 0px;
}

.home-content-inner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  justify-content: space-evenly;
}
.home-content-socials {
  position: absolute;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.home-content-social img {
  width: 1.2rem;
  padding: 0.2rem;
}

.aftername {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0px;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #00171f;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
