body {
  margin: 0;
  padding: 0;
}

.home-content {
  padding-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url("images/techback.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-content-inner {
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
}

#profilepic {
  border-radius: 50%;
  height: 70px;
}
#headername {
  font-family: Impact;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: space-between;
  background-color: gray;
  padding: 10px;
}

.header-content {
  display: flex; /* Fill available space and push the name to the center */
  text-align: center; /* Center the name horizontally */
}

#headername {
  font-size: 24px; /* Adjust the font size as needed */
  margin-left: 10px;
  display: flex;
  vertical-align: center;
}

#ulnavs {
  align-items: center;
  list-style: none;
  display: flex;
}

#ulnavs li {
  margin-right: 20px;
}

/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
