/*
This came from branch Sunday
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-wrap {
  justify-content: space-between;
  background-color: #f0f0f0; /* Change this to your desired background color */
  padding: 10px;
  display: flex;
  align-items: center;
}
.header-inner {
  display: flex;
  align-items: center;
}
#profilepic {
  width: 60px; /* Adjust the width and height to your preference */
  height: 60px;
  border-radius: 50%; /* Make the image circular */
}
#headername {
  font-size: 20px; /* Adjust the font size to your preference */
  font-weight: bold;
  margin-left: 10px; /* Add some spacing between the profile picture and name */
}
#ulnavs {
  list-style: none;
  display: flex;
}
#ulnavs li {
  margin-left: 20px; /* Add some spacing between navigation options */
  text-transform: uppercase; /* Convert text to uppercase */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
}
#ulnavs li:hover {
  color: #ff6600; /* Change this to your desired hover color */
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
